---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recipe Book</title>
  </head>
  <body>
    <h1>Elfira's Recipe Book</h1>
    <p>A collection of my favorite recipes for friends and family.</p>
  </body>
</html>